.tecno_conteiner {
    display: flex;
    justify-content: center;    
    height: 80vh;
    
}

.tecno_main {
    background-color: black;
    background-image: url(../src/components/img/342303.JPG);
    width: 50%;    
    font-size: x-large;  
    background-repeat: round;    
    background-position: top bottom;    
    text-align: center;
    padding-top: 100px;
    
    
}

.tecno_main h1 {
    text-decoration: underline;
    margin-bottom: 30px;
}

.content {
    display: inline-block;
    /* grid-template-columns: auto auto ; */
    /* color: rgb(50, 172, 243); */
    color: var(--cor-link);    
   
    
}

.content li {
  
  list-style: none;
}
.content ul li{
  text-align: justify;
  
}


