.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 62px;
    font-size: larger;
    background-color: #00000080;

}

.content a {
    color: var(--cor-link)
}

.content p{
    display: inline-block;
}
