.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 51px;
    font-size: larger;
    
}

.content a  {
    color: var(--cor-link)
}

.content a:hover {
    color: aquamarine;
}