* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

:root {
	--cor-link: #c9d1d3;
	--cor-de-fundo: #efefef52;
	--cor-hover: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
 
 }

body {
	background-image:url(../src/components/img/342303.JPG); 
	background-repeat: no-repeat;
	background-size: cover;
	
}

h1, h2, p {
    color: var(--cor-link);
   
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
	padding-left: 15px;
	padding-top: 15px;
	
}

