* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

:root {
	--cor-link: #c9d1d3;
	--cor-de-fundo: #efefef52;
 
 }

body {
	background-image: url(../src/components/img/342303.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	
}

h2 {
	padding-left: 15px;
	
}